/* Beer glass for animation */
.beer-glass {
    grid-column: 5 / 6;
    width: 80px;
    height: 130px;
    background-color: #fff;
    border: 4px solid #333;
    border-radius:  4px 4px 19px 19px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .beer {
        width: 100%;
        height: 0%;
        background-color: #f4c542;
        border-radius:  0 0 14px 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: fillBeer 8s ease-in-out infinite alternate;
    }

    .beer-text {
        position: absolute;
        top: 50px;
        left: 22px;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
    }

    .beer-handle {
        position: absolute;
        top: 40px;
        right: -28px;
        height: 40px;
        width: 20px;
        border: 4px solid #333;
        border-radius: 0 7px 7px 0;
    }
}

/* Beer glass animation */
@keyframes fillBeer {
    0% {
        height: 20%;
    }
    100% {
        height: 80%;
    }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .beer-glass {
        grid-column: 2 / 5;
        grid-row: 2;
        width: 60px;
        height: 90px;

        .beer {
            border-radius:  0 0 16px 16px;
        }

        .beer-text {
            position: absolute;
            top: 30px;
            left: 15px;
            font-size: 0.9em;
            font-weight: bold;
            text-align: center;
        }

        .beer-handle {
            top: 25px;
            right: -26px;
            height: 30px;
            width: 18px;
        }
    }
}

