h1 {
    grid-column: 2 / 5;
    font-family: "Genos", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 6em;
    text-align: center;
    margin: 0.3em 0 0 0;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

h4 {
    font-size: 1.2em;
    margin: 0.5em 0 0 0;
}

select {
    width: 250px;
    margin: 0 auto;
    font-size: 1em;
    padding: 0.2em;
    border: 1px solid #444444;
    border-radius: 5px;
    cursor: pointer;
    color: #444444;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* brewery list compontents */
.brewery {
    width: 19em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
}

.brewery:hover {
    transform: scale(1.05);
}

.brewery-site {
    margin-top: 0.8em;
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brewery-site:hover {
    text-decoration: underline;
}

.weather {
    line-height: 1.6;
}

#load-more-btn {
    display: none;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

#load-more-btn:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
        margin-bottom: 0.2em;
    }

    h2 {
        font-size: 1.4em;
    }
}